<div class="art-app" #prueba >

  <!-- mobile top bar -->
  <div class="art-mobile-top-bar"></div>

  <!-- app wrapper -->
  <div class="art-app-wrapper">

    <!-- app container end -->
    <div class="art-app-container">

      <!-- info bar -->


      <app-info></app-info>
      <!-- info bar end -->

      <!-- content -->
      <div class="art-content">
        <router-outlet></router-outlet>
      </div>
      <!-- content end -->

      <!-- menu bar -->
      <app-menu></app-menu>
      <!-- menu bar end -->

    </div>
    <!-- app container end -->

  </div>
  <!-- app wrapper end -->

  <!-- preloader -->
  <div class="art-preloader">
    <!-- preloader content -->
    <div class="art-preloader-content">
      <!-- title -->
      <h4>Javier Vite Ramirez</h4>
      <!-- progressbar -->
      <div id="preloader" class="art-preloader-load"></div>
    </div>
    <!-- preloader content end -->
  </div>
  <!-- preloader end -->

</div>