<!-- curtain -->
<div class="art-curtain"></div>

<!-- top background -->
<div class="art-top-bg" style="background-image: url(../../../assets/img/bg.jpg)">
    <!-- overlay -->
    <div class="art-top-bg-overlay"></div>
    <!-- overlay end -->
</div>
<!-- top background end -->

<!-- swup container -->
<div class="transition-fade" id="swup">

    <!-- scroll frame -->
    <div id="scrollbar" class="art-scroll-frame">

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row p-60-0 p-lg-30-0 p-md-15-0">
        <!-- col -->
        <div class="col-lg-12">

            <!-- banner -->
            <div class="art-a art-banner" style="background-image: url(../../../assets/img/bg.jpg)">
            <!-- banner back -->
            <!-- <div class="art-banner-back"></div> -->
            <!-- banner dec -->
            <div class="art-banner-dec"></div>
            <!-- banner overlay -->
            <div class="art-banner-overlay">
                <!-- main title -->
                <div class="art-banner-title">
                <!-- title -->
                <h1 class="mb-15">Lleva tu idea a la realidad en un software.</h1>
                <!-- suptitle -->
                    <div class="art-lg-text art-code mb-25">&lt;<i>code</i>&gt; 
                        <span class="txt-rotate" data-period="2000"
                        data-rotate='["Desarrollo de aplicaiones Ios y Android", "Desarrollo Web" ,"Diseño UX/UI","Software Enginner" ]'>
                        </span>&lt;/<i>code</i>&gt;
                    </div>
                <div class="art-buttons-frame">
                    <!-- button -->
                    <a href="portfolio-3-col-masonry.html" class="art-btn art-btn-md"><span>Explore now</span></a>
                </div>
                </div>
                <!-- main title end -->
                <!-- photo -->
                <img src="../../../assets/img/javier-sin-fondo.png" class="art-banner-photo img-fluid" width="70%" alt="Your Name">
            </div>
            <!-- banner overlay end -->
            </div>
            <!-- banner end -->

        </div>
        <!-- col end -->
        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row p-30-0">

        <!-- col -->
        <div class="col-md-3 col-6">

            <!-- couner frame -->
            <div class="art-counter-frame">
            <!-- counter -->
            <div class="art-counter-box">
                <!-- counter number -->
                <span class="art-counter">3</span><span class="art-counter-plus">+</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>Años de Experiencia</h6>
            </div>
            <!-- couner frame end -->

        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-md-3 col-6">

            <!-- couner frame -->
            <div class="art-counter-frame">
            <!-- counter -->
            <div class="art-counter-box">
                <!-- counter number -->
                <span class="art-counter">33</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>Proyectos Completados</h6>
            </div>
            <!-- couner frame end -->

        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-md-3 col-6">

            <!-- couner frame -->
            <div class="art-counter-frame">
            <!-- counter -->
            <div class="art-counter-box">
                <!-- counter number -->
                <span class="art-counter">17</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>Clientes Felices</h6>
            </div>
            <!-- couner frame end -->

        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-md-3 col-6">

            <!-- couner frame -->
            <div class="art-counter-frame">
            <!-- counter -->
            <div class="art-counter-box">
                <!-- counter number -->
                <span class="art-counter">11</span><span class="art-counter-plus">+</span>
            </div>
            <!-- counter end -->
            <!-- title -->
            <h6>Honores y Premios</h6>
            </div>
            <!-- couner frame end -->

        </div>
        <!-- col end -->

        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row">

        <!-- col -->
        <div class="col-lg-12">

            <!-- section title -->
            <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Sobre Mí</h4>
            </div>
            <!-- title frame end -->
            </div>
            <!-- section title end -->

        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-lg-12">

            <!-- service -->
            <div class="art-a art-service-icon-box">
            <!-- service content -->
            <div class="art-service-ib-content">
                <!-- title -->
                <!-- text -->
                <div class="mb-15">
                    Mi nombre es Javier Vite Ramirez, Tengo 22 años, soy méxicano actualmente vivo en Puebla, Mexico. 
                    llevo 3 años desarrollando software especielamente sitios web.
                    Yo pienso que la programación es una gran herramienta para automatizar o 
                    crear cosas maravillosas... asi que no solo aprendan a programar. Aprendan a Imaginar, Crear y
                </div>
                <!-- button -->
            </div>
            <!-- service content end -->
            </div>
            <!-- service end -->

        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-lg-12   ">

            <!-- service -->
            <div class="art-a art-service-icon-box">
            <!-- service content -->
            <div class="art-service-ib-content">
                <!-- title -->

                <!-- text -->
                <div class="mb-15">
                    Mi pasión por el mundo del desarrollo comenzó cuando tenia 17 años, 
                    creando sitios de administración de recursos utilizando php, html, css y javascript. 
                    En ese entonces comence supe que programar era lo mío, aunque todo era muy nuevo para mi.
                    Durante mi carrera realice ciertas practicas profesionales en Nuvek, donde aprendi muchisimo pero tambien me di cuenta que el desarrollo web es un gran mundo, sobretodo muy extenso. Despues de haber terminado mis labores en nuvek me interese por entrar a T-Systems por lo que estuve solo 4 meses trabajando, ahora me encuntro en Humanly Software donde aprendo muchas cosas nuevas junto con mis compañeros. Mi interes por el desarrollo de sitios web ha ido creciendo, y desde entonces no he dejado de aprender sobre tecnologías web. Diría que mi experiencia con respecto a la ingeniería de software va mejorando como desarrollador full-stack junior,
                    como tambien mi pasión por aprender y trabajar con las últimas tecnologías.
                </div>
                <!-- button -->
            </div>
            <!-- service content end -->
            </div>
            <!-- service end -->

        </div>
        <!-- col end -->
        
        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

    <!-- container -->

    <!-- container end -->

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row">

        <!-- col -->
        <div class="col-lg-12">

            <!-- section title -->
            <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Testimonios</h4>
            </div>
            <!-- title frame end -->
            </div>
            <!-- section title end -->

        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-lg-12">

            <!-- slider container -->
            <div class="swiper-container art-testimonial-slider" style="overflow: visible">
            <!-- slider wrapper -->
            <div class="swiper-wrapper">
                <!-- slide -->
                <div class="swiper-slide">

                <!-- testimonial -->
                <div class="art-a art-testimonial">
                    <!-- testimonial body -->
                    <div class="testimonial-body">
                    <!-- photo -->
                    <img class="art-testimonial-face" src="../../../assets/img/gabriel.jpg" alt="face">
                    <!-- name -->
                    <h5>Gabriel Diaz Amador</h5>
                    <div class="art-el-suptitle mb-15">Ingeniero en desarrollo de software</div>
                    <!-- text -->
                    <div class="mb-15">
                        Javier es un profesional en su campo de especialidad; es una persona que sabe entregar las mejores soluciones en cuanto a desarrollo de software se trata, utilizando siempre las mejores herramientas y las tecnologías de mayor vanguardia de una manera eficiente y con las mejores prácticas de programación.
                        Javier es la persona ideal para trabajar y crear aplicaciones web, móviles y de escritorio, entregando siempre un software funcional y fácil de utilizar para el usuario final.
                    </div>
                    </div>
                    <!-- testimonial body end -->
                    <!-- testimonial footer -->
                    <div class="art-testimonial-footer">
                    <div class="art-left-side">
                        <!-- star rate -->
                        <ul class="art-star-rate">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        </ul>
                        <!-- star rate end -->
                    </div>
                    <div class="art-right-side">

                    </div>
                    </div>
                    <!-- testimonial footer end -->
                </div>
                <!-- testimonial end -->

                </div>
                <!-- slide end -->

                <!-- slide -->
                <div class="swiper-slide">

                <!-- testimonial -->
                <div class="art-a art-testimonial">
                    <!-- testimonial body -->
                    <div class="testimonial-body">
                    <!-- photo -->
                    <img class="art-testimonial-face" src="../../../assets/img/omar.jpg" alt="face">
                    <!-- name -->
                    <h5>Omar Arturo Pineda Reyes</h5>
                    <div class="art-el-suptitle mb-15">
                        Associate Software Developer en Ellucian Inc.
                    </div>
                    <!-- text -->
                    <div class="mb-15">
                        Yo tengo la seguridad de que el tiempo que trabajé con él pudimos hacer un gran equipo.
                        Siempre hubo colaboración y nuestras ideas en conjunto nos llevaban a ideas aún mejores.
                        Durante mi tiempo trabajando con javier, tuve la oportunidad de aprender muchas
                        cosas sobre desarrollo web, debido a que él tenía ya mucha más experiencia
                        en este ámbito.
                        Pienso que su experiencia y su pasión por la programación son factores que hacen de Javier
                        un muy buen elemento para un equipo de desarrollo que tenga como objetivo la excelencia.
                        He notado que él disfruta mucho lo que hace y se esfuerza mucho para hacer algo que genere
                        una muy buen experiencia al usuario.
                    </div>
                    </div>
                    <!-- testimonial body end -->
                    <!-- testimonial footer -->
                    <div class="art-testimonial-footer">
                    <div class="art-left-side">
                        <!-- star rate -->
                        <ul class="art-star-rate">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        </ul>
                        <!-- star rate end -->
                    </div>
                    <div class="art-right-side">

                    </div>
                    </div>
                    <!-- testimonial footer end -->
                </div>
                <!-- testimonial end -->

                </div>
                <!-- slide end -->


            </div>
            <!-- slider wrapper end -->
            </div>
            <!-- slider container end -->

        </div>
        <!-- col end -->

        <!-- col -->
        
        <!-- col end -->

        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

    <!-- container -->
    <div class="container-fluid ">
        <div class="col-lg-12 mt-1">

            <!-- section title -->
            <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Algunos Clientes</h4>
            </div>
            <!-- title frame end -->
            </div>
            <!-- section title end -->

        </div>
        <!-- row -->
        <div class="row">

        <!-- col -->
        <div class="col-4">
            <!-- brand -->
            <img class="art-brand" src="../../../assets/img/nuvek.png" alt="brand">
        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-4">
            <!-- brand -->
            <img class="art-brand" src="../../../assets/img/t-systems.png" alt="brand">
        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-4">
            <!-- brand -->
            <img class="art-brand" src="../../../assets/img/humanly.jpg" alt="brand">
        </div>
        <!-- col end -->

        <!-- col -->
        <div class="col-4">
            <!-- brand -->
            <img class="art-brand" src="../../../assets/img/oxxo.png" alt="brand">
        </div>

        <div class="col-4">
            <!-- brand -->
            <img class="art-brand" src="../../../assets/img/mormon.jpg" alt="brand">
        </div>
        <div class="col-4">
            <!-- brand -->
            <img class="art-brand" src="../../../assets/img/asesores.jpg" alt="brand">
        </div>
        <!-- col end -->

        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

    <!-- container -->
    <div class="container-fluid">

        <!-- footer -->
        <footer>
        <!-- copyright -->
        <div>© 2021 Javier Vite Ramirez</div>
        <!-- author ( Please! Do not delete it. You are awesome! :) -->
        </footer>
        <!-- footer end -->

    </div>
    <!-- container end -->

    </div>
    <!-- scroll frame end -->

</div>
<!-- swup container end -->

